* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

section {
    padding: 100px;
    padding-bottom: 0;
}

section button {
    border: none;
    padding: 12px 40px;
    border-radius: 10px;
    background: red;
    color: #fff;
}

.result {
    display: flex;
    padding: 100px;
    padding-top: 20px;
}

.result h2 {
    margin-right: 40px;
    
}